body {
    background-color: aliceblue;
}

article {
    text-align: center;
    font-size: x-large;
    font-family: Copperplate;
    border: solid;
    border-radius: 15%;
    background-color: rgb(245, 255, 240);
    height: 115%;
}

.titulo {
    text-align: center;
    font-family: Copperplate;
}

#borda_titulo {
    border-bottom: 1.6px solid;
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
    margin-top: -2%;
}
#borda_imagem {
    width: 100%;
    height: 60%;
    border: solid;
    border-radius: 15%;
}